.perspective {
    perspective: 1000px;
}
.card {
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card.is-flipped {
    transform: rotateY(180deg);
}
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
}

/* UPDATED: Generic custom scrollbar style for any element that needs it */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #be123c; /* A nice rose color */
  border-radius: 20px;
}